.work-page{
    width: 100%;
}

.cardsContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 7rem;
}

.card {
    border: 2px solid var(--border);
    border-radius: 5px;
    width: 300px;
    padding: 3px;
    color: var(--gray);
}

.card h3 {
    color: var(--green);
}

.card h3 a {
    text-decoration: none;
    color: var(--green);
}

.cardImg {
    width: 100%;
    height: 15rem;
}