 .contact-page{
    width: 100%;
 }

.formContact{
    width: 45%;
}

.form-map-container{
    display: flex;
    gap: 5rem;
}

.inputContact {
    background: var(--border);
    color: var(--gray);
    cursor: text;
    outline: 0;
    margin: 5px 0;
    padding: 15px 0;
    border-width: 0px;
    width: 100%;
}

.formContact textarea {
    resize: none;
    height: 150px;
    outline: 0;
    border-width: 0px;
    color: var(--gray);
}

.formContact input:focus {
    border-color: var(--green);
    border-width: 0 0 2px ;
}

.formContact textarea:focus {
    border-color: var(--green);
    border-width: 0 0 2px;
}

.map {
    width: 45%;
    height: 500px;
    background: none;
}

.contactButton {
    background: none;
    border: 1px solid var(--green);
    color: var(--green);
    font-size: 16px;
    letter-spacing: 4px;
    font-family: "open sans", sans-serif;
    width: 300px;
    height: 50px;
    cursor: pointer;
    float: right;
}

.contactButton:hover {
    background: var(--green);
    color: var(--black);
    font-weight: bold;
    transition: background 2s;
}

.comeback-btn-container{
    display: none;
    text-decoration: none;
}

.comeback-btn{
    background: none;
    border: 1px solid var(--green);
    color: var(--green);
    font-size: 16px;
    font-family: "open sans", sans-serif;
    width: 200px;
    height: 50px;
}