:root {
  --primary-bg-color: #141514;
  --text-color: #f8f8ff;
  --accent-color: #e74a3b;
  --secondary-color: #2e2e2e;
  --hover-color: #c0392b;
}

html {
  --imp-text-color: var(--accent-color);
}

.orange {
  color: var(--imp-text-color) !important;
}

button:focus {
  box-shadow: none !important;
}

/* --------- */
/*  Preloader */
/* --------- */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: var(--primary-bg-color);
  background-image: url(../Assets/pre.svg);
  background-repeat: no-repeat;
  background-position: center;
}

#preloader-none {
  opacity: 0;
}

#no-scroll {
  overflow: hidden;
  height: 100vh;
}

/* --------- */
/*Scrollbar   */
/* --------- */

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--primary-bg-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c0392b;
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--accent-color);
  border-radius: 12px;
}
